@import "compass";
@import "compass/reset";
@import "mixin";
@import "compass_twitter_bootstrap";



.header {
	text-align: center;
	h1 {
		font-family: "NanumGothic", "Helvetica Neue", "Helvetica", dotum, applegothic, sans-serif;
	}
}

.year_group {
	.year {
		text-align: center;
	}
	.item {
		width: 220px;
		margin: 10px;
		float: left;
	}
}
