<%#= title @camera.name1 %>

<ul class="breadcrumb">
  <li><%= link_to "Cameras", admin_cameras_path %> <span class="divider">></span></li>
  <li class="active"><i class="icon-flag"></i><%= @camera.name1 %></li>
</ul>


<div>
  <%= @camera.name1 %>
</div>
