<div class="header">
	<h1>[ 1995-2013 DSLR족보 ]</h1>
	<p>http://cameras.miriya.net</p>
	<p>2013. 03. 02 / v2.0</p>
	<p>이 페이지는 현재 지속적으로 개선이 진행중입니다.<br>문의사항, 수정사항, 찬양할 점이 있으면 아래에 댓글로 남겨주세요.</p>
</div>

<div id="cameras">
	<%= render :partial => 'cameras' %>
</div>

<div id="comments">
	<%= render :partial => 'comments' %>
</div>

<div id="footer" class="clearfix">
	<%= render :partial => 'footer' %>
</div>
